<!DOCTYPE html>
<html lang="ru-Ru">
<head>
 <meta charset="UTF-8">	
  <title>Компания пластиковых окон</title>
  <%= stylesheet_link_tag    "style","jquery.fancybox", :media => "all" %>
  <%= javascript_include_tag "jquery-2.0.2.min","jquery.fancybox" %>
  <%= csrf_meta_tags %>
  <!--<%#= stylesheet_link_tag('public', 'admin', :media => 'all') %>
  <%#o= javascript_include_tag('application') %> -->
</head>
<body>
<%#= yield %>
<!--raz raz-->
<div id="body">

	<div id="header">
		<div id="header1">
			<h2>Господа-Окна</h2>
			<h1>Пластиковые окна от производителей по Москве и Московской области</h1>
		</div>
		<div id="header2">
			<div id="header21">				
				<p class="phone">8 (967) 138-48-99</p>
				<p>Есть вопросы? Звоните!</p>
				<!--<p>Звонок со всех телефонов РФ бесплатный!</p>-->
				<p>с 8:00 до 22:00</p>
			</div>
			<div id="header22">
				<!--<button id="buy">Заказать обратный звонок</button>-->
				<a class="order modalbox" href="#inline">Заказать обратный звонок</a>
			</div>
		</div>
	</div>

	<div id="screen1">
		<div id="blockwithimg">
			<h2>Установка пластиковых окон в Москве!</h2>
			<div id="blockwithimg-wrap">
				<div id="mainImg"></div>
				<div id="pretopic">
					<div id="topic">
						<ul>
							<!--<li><div class="img"><p>Бесплатный замер, бесплатная доставка</p></div></li>
							<li><div class="img"><p>Замер, доставку и монтаж мы проведем в удобное для Вас время</p></div></li>
							<li><div class="img"><p>С гарантией качества выполним монтаж окна</p></div></li>
							<li><div class="img"><p>Вы будете наслаждаться прекрасной шумоизоляцией</p></div></li>
							<li><div class="img"><p>Мы защитим Вашу мебель от пыли</p></div></li>							-->
							<li><div class="img"><p>Бесплатный замер</p></div></li>
							<li><div class="img"><p>Бесплатная доставка</p></div></li>
							<li><div class="img"><p>Бесплатная консультация</p></div></li>
							<li><div class="img"><p>В удобное для Вас время<!--выполним монтаж окнаВы будете наслаждаться прекрасной шумоизоляцией--></p></div></li>
							<li><div class="img"><p>Гарантия качества</p></div></li>
							<!--<li><div class="img"><p>Мы защитим Вашу мебель от пыли</p></div></li>														-->
						</ul>
					</div>
				</div>
				<p class="quote">"Я ухожу на работу, а мои жена и дети остаются в тепле и заботе." - Кирилл Огарков, 34 года, инкасатор.</p>
			</div>
		</div>

		<div id="screen1text">
			<div class="subscriber">
				<div class="subscriber-wrap">
					<h3>Вызов замерщика</h3>
					<p>Оставьте Ваши контакты и мы Вам перезвоним:</p>
					<form class="js-form">
						<input type="text" value="Ваше имя" name="name" data-necessarily="true" data-id="name" onfocus="if (this.value == 'Ваше имя') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Ваше имя';}">
						<input type="text" value="Ваш email" name="email" data-necessarily="true" data-id="email" onfocus="if (this.value == 'Ваш email') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Ваш email';}">						
						<input type="text" value="Ваш телефон" name="phone" data-necessarily="true" data-id="phone" onfocus="if (this.value == 'Ваш телефон') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Ваш телефон';}">
						<input type="submit" value="Оставить заявку" name="subscribe" class="button-newsletter">
						<!--<a href="#" class="try">Оставить заявку</a>-->
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="line">
		<div id="line11"><p>Мы работаем на рынке более 5 лет</p></div>
		<div id="fiveyears"><%= image_tag "guarantee_best.png" %><!--<img src="./img/guarantee_best.png"/>--></div>
		<div id="line12"><p>Установлено 4200+ окон</p></div>		
	</div>

	<div id="screen2">
		<div id="screen2text">
			<ul>
				<li><p class="pain"><span class="pain1"></span>Старые и страшные окна? Собираетесь делать ремонт?</p></li>
				<li><p class="solution"><span class="solution1"></span>Замените на новые! Мы подскажем как Вам на этом сэкономить!</p></li>
				<li><p class="pain"><span class="pain1"></span>Ветер и дождь мешают насладиться любимой книгой на балконе?</p></li>
				<li><p class="solution"><span class="solution1"></span>Мы легко и просто застеклим балкон и огородим Вас от непогоды.</p></li>
				<li><p class="pain"><span class="pain1"></span>Замерзаете в собственной квартире? Постоянные сквозняки?</p></li>
				<li><p class="solution"><span class="solution1"></span>Качественный монтаж наших бригад избавит от проблем и сохранит в Вашем доме тепло!</p></li>
				<li><p class="pain"><span class="pain1"></span>Городской шум мешает концетрироваться на работе или хобби?</p></li>
				<li><p class="solution"><span class="solution1"></span>Мы знает как избавить Вас от докучающего шума.</p></li>			
				<li><p class="pain"><span class="pain1"></span>Хотите заменить окна? Не знаете как подойти к этому вопросу?</p></li>
				<li><p class="solution"><span class="solution1"></span>Звоните! Мы проконсультируем Вас бесплатно!</p></li>				
			</ul>
		</div>
	</div>

	<div class="line">
		<div id="line31">
			<p class="big">24 часа в сутки</p>
			<p>Вы можете оставить заявку на сайте</p>
		</div>
		<div id="line32">
			<p class="big">8 (967) 138-48-99</p>
			<p>или по телефону с 8:00 до 22:00</p>
		</div>
	</div>

	<div id="screen3">
		<div id="screen3text">
			<h2>Как мы работаем</h2>
			<div class="divtable">
				<div class="divborder">
				  <div class="divimg"><img src="/assets/phone_small_50.png" alt="" width="25" height="31" border="0" /></div>
				  <div class="divtext phonetext">Вы оставляете заявку на сайте или по телефону. Мы выясняем удобное время для Вас</div>
				</div>  
				  <div class="clear"></div> 
				<div class="divborder">  
				  <div class="divimg speech"><img src="/assets/speech_small_50.png" alt="" width="30" height="20" border="0" /></div>
				  <div class="divtext">Бесплатно к Вам подъезжает наш инженер, производит все необходимые замеры и предлагает 3-5 комлектаций в совершенно разном бюджете с подробными пояснениями</div>
				</div>   
				  <div class="clear"></div>
				<div class="divborder">  
				  <div class="divimg"><img src="/assets/contract_small_50.png" alt="" width="27" height="31" border="0" /></div>
				  <div class="divtext">Составление договора сразу же на месте</div>
				</div>   
				  <div class="clear"></div>
				<div class="divborder">  
				  <div class="divimg"><img src="/assets/watch_small_50.png" alt="" width="31" height="31" border="0" /></div>
				  <div class="divtext">В течении нескольких дней мы сообщаем о готовности окон и снова выбираем для Вас удобное время монтажа</div>
				</div> 
				  <div class="clear"></div>
				<div class="divborder">  
				  <div class="divimg"><img src="/assets/key_small_50.png" alt="" width="31" height="31" border="0" /></div>
				  <div class="divtext">Бесплатно доставляем и устанавливаем окна (монтаж включает в себя демонтаж старого окна, монтаж нового окна и уборку мусора)</div>
				</div >   
				  <div class="clear"></div>
				<div class="divborder">  
				  <div class="divimg"><img src="/assets/dollar_small_50.png" alt="" width="22" height="31" border="0" /></div>
				  <div class="divtext dollartext">Оплата только после установки и проверки</div>
				</div>   
				  <div class="clear"></div>
				<div class="divborder">  
				  <div class="divimg"><img src="/assets/home_small_50.png" alt="" width="26" height="30" border="0" /></div>
				  <div class="divtext hometext">Наслаждайтесь от использования Вашего окна</div>
				</div>   
				  <div class="clear"></div>
			</div>
		</div>
	</div>

	<div class="line">	 
		<div id="line21">
			<h3>Гарантия сроков</h3>
			<p>Мы гарантируем, что не отнимем у Вас времени больше, чем другие</p>
		</div>
		<div id="guarantee"><%= image_tag "guarantee.png" %><!--<img src="./img/guarantee.png"/>--></div>		
		<div id="line22">
			<h3>Гарантия качества</h3>
			<p>Вы получаете 100% заводскую гарантию на весь гарантийный срок</p>
		</div>
	</div>

	<div id="screen4">
		<div id="screen4text">
			<div id="workWithUs">
				<h2>Причины работать с нами</h2>
				<div class="divtable2">
					<div class="divborder2">
					  <div class="divimg2"><img src="/assets/check_green_small_70.png" alt="" width="30" height="30" border="0" /></div>
					  <div class="divtext2">Мы используем свою возможность работать индивидуально с каждым клиентом по максимуму.</div>
					</div>  
					  <div class="clear"></div> 
					<div class="divborder2"> 
					  <div class="divimg2"><img src="/assets/check_green_small_70.png" alt="" width="30" height="30" border="0" /></div>
					  <div class="divtext2">Мы дорожим временем - и Вашим тоже.</div>
					</div>  
					  <div class="clear"></div>
					<div class="divborder2"> 
					  <div class="divimg2"><img src="/assets/check_green_small_70.png" alt="" width="30" height="30" border="0" /></div>
					  <div class="divtext2">Мы проконсультируем Вас в любое время и по любым вопросам.</div>
					</div>  
					  <div class="clear"></div> 
					<div class="divborder2"> 
					  <div class="divimg2"><img src="/assets/check_green_small_70.png" alt="" width="30" height="30" border="0" /></div>
					  <div class="divtext2">Мы компания полного производственного цикла. Все работы мы выполняем сами.</div>
					</div>  
					  <div class="clear"></div> 
					<div class="divborder2"> 
					  <div class="divimg2"><img src="/assets/check_green_small_70.png" alt="" width="30" height="30" border="0" /></div>
					  <div class="divtext2">Мы несем полную ответственность перед Вами. Мы гарантируем сроки, качество стеклопакетов и монтажа.</div>
					</div>  
					  <div class="clear"></div> 
					<div class="divborder2"> 
					  <div class="divimg2"><img src="/assets/check_green_small_70.png" alt="" width="30" height="30" border="0" /></div>
					  <div class="divtext2">Мы изготавливаем оконные профильные системы любой сложности, конфигурации и размера. Каким будет ваше окно, зависит лишь от Ваших потребностей, дизайнерских пристрастий и бюджета.</div>
					</div>  
					  <div class="clear"></div>  
					<div class="divborder2"> 
					  <div class="divimg2"><img src="/assets/icon-star-1.png" alt="" width="30" height="30" border="0" /></div>
					  <div class="divtext2 startext2">У нас всегда есть акции, бонусы и подарки! Cпешите!</div>
					</div>   
					 	<div class="clear"></div>                
				</div>

			</div>
		</div>

		<div id="screen4text2">
			<div id="review">
				<h2>Люди говорят</h2>

				<div class="comment">
					<h3>Мария <span>(Москва)</span>:</h3>
					<p>"Приятно, что не навязывали самые дорогие окна. Еще и скидку получила."</p>
				</div>

				<div class="comment">
					<h3>Иван <span>(Красногорск)</span>:</h3>
					<p>"Хочу выразить благодарность менеджеру Алексею за подробные консультации. Окна поставили в срок. Спасибо."</p>
				</div>

				<div class="comment">
					<h3>Катерина В. <span>(Москва)</span>:</h3>
					<p>"Понравилось соотношение цена/качество пластиковых окон в вашей фирме. Буду советовать."</p>
				</div>

				<div class="comment">
					<h3>Андрей <span>(Химки)</span>:</h3>
					<p>"Заказывал у Господ окна и балкон. Очень доволен качеством оказанных услуг."</p>
				</div>						
			</div>			
		</div>
	</div>

	<div id="footer">
		<div id="line41">
			<!--<p class="big">ООО "Господа-окна"</p>-->
			<p class="big">Господа-Oкна</p>
			<p>Установка пластиковых окон по Москве и МО</p>
		</div>
		<div id="line42">
			<p class="big">8 (967) 138-48-99</p>
			<p>с 8:00 до 22:00</p>
		</div>			
	</div>

	<div class="clear"></div>

	<div class="subscriber2">
		<div class="subscriber-wrap2">
			<h3>Оставьте заявку на замер</h3>
			<p>мы Вам перезвоним</p>
			<form class="js-form">
				<input type="text" value="Ваше имя" name="name" data-necessarily="true" data-id="name" onfocus="if (this.value == 'Ваше имя') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Ваше имя';}" id="subscriber2name">
				<input type="text" value="Ваш email" name="email" data-necessarily="true" data-id="email" onfocus="if (this.value == 'Ваш email') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Ваш email';}">
				<input type="text" value="Ваш телефон" name="phone" data-necessarily="true" data-id="phone" onfocus="if (this.value == 'Ваш телефон') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Ваш телефон';}">		
				<input type="text" value="Ваш комментарий" name="comment" data-necessarily="true" data-id="comment" onfocus="if (this.value == 'Ваш комментарий') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Ваш комментарий';}">
				<input type="submit" value="Отправить" name="subscribe" class="button-newsletter2">
			</form>
		</div>
	</div>
</div>
<!--
	<form class="js-form">
		<input type="text" value="Ваше имя" name="name" data-necessarily="true" data-id="name">
		<input type="text" value="Ваш email" name="email" data-necessarily="true" data-id="email">						
		<input type="text" value="Ваш телефон" name="phone" data-necessarily="true" data-id="phone">
		<input type="submit" value="Оставить заявку" name="subscribe" class="button-newsletter">
	</form>-->

<div id="inline">
	<div id="inline2">
	<div class="block_header"><h3>Заказать обратный звонок</h3></div>
  <div class="block_content">
		<form id="contact1" name="contact1" action="#" method="post">
			<!--<br>-->
			<input type="text" id="name1" name="name1" class="txt" value="Ваше имя" onfocus="if (this.value == 'Ваше имя') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Ваше имя';}">
			<!--<br>-->
			<input type="text" id="phone1" name="phone1" class="txt" value="Ваш телефон" onfocus="if (this.value == 'Ваш телефон') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Ваш телефон';}">
		  <!--<br>-->
		</form>
	</div>
  <div class="clear"></div>
	<div style="width: 136px; margin: 0 auto; margin-top: 0px" class="divbutton">
	  <a id="send1" class="button" href="#">Отправить</a>
  </div>
</div>  
</div>

<div id="message">
	<br/><p>Спасибо!</p><p>Мы скоро свяжемся с Вами!</p>
</div>

	<!-- Add fancyBox main JS and CSS files -->

<!--<script src="./js/jquery-2.0.2.min.js"></script>
<script src="./js/jquery.fancybox.js?v=2.1.5"></script>
<script src="./js/test.js"></script>	
<script src="./js/jquery.min.js"></script>-->	

	<!-- Ajaxify Submit form 
<script type="text/javascript" >/*
jQuery(document).ready(function() {
	jQuery("#send1").click(function() {
		var name = jQuery("#name1").val();
		var phone = jQuery("#phone1").val();
		var dataString = 'name1='+ name + '&phone1=' + phone;

		if(name=='Имя' || phone=='Телефон'){
			alert ("Ошибка! Введите имя и телефон!");
		}	else	{
			jQuery.ajax({
			type: "POST",
			url: "send1.php",
			data: dataString,
			success: function(data){
					alert ("Заявка отправлена! Ожидайте звонка!");
				},
			error: function(){
					alert ("Ошибка соединения с сервером! Попробуйте отправить заявку еще раз!");
				}
			});
		}
		return false;
	});
});*/
</script>-->
<!-- Ajaxify Submit form End -->

<script type="text/javascript">
 <!-- Окно для общих консультаций -->
	function validateEmail(name) { 
		var reg = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		return reg.test(name);
	}

	$(document).ready(function() {
		$(".modalbox").fancybox({
			'scrolling'		: 'no',
			afterClose : function() {
      	location.reload();
        return;
      }
		});
	
		$("#contact1").submit(function() { 

/*	if ($("#name1").val().length < 1 || $("#phone1").val().length < 1) {
	    $("#login_error").show();
	    $.fancybox.resize();
	    return false;
	}*/			return false; });

		
		$("#send1").on("click", function(){
			var emailval  = $("#name1").val();
			var msgval    = $("#phone1").val();
			var msglen    = msgval.length;
			var mailvalid = validateEmail(emailval);
			
			 {
				// если обе проверки пройдены
				// сначала мы скрываем кнопку отправки
				$("#send1").replaceWith("<em>Отправка...</em>");
				/*
				$.ajax({
					type: 'POST',
					url: 'sendmessage.php',
					data: $("#contact1").serialize(),
					success: function(data) {
						if(data == "true") {
							$("#contact1").fadeOut("fast", function(){
								$(this).before("<p><strong>Спасибо! Ожидайте звонка!</strong></p>");
								setTimeout("$.fancybox.close()", 1000);
							});
						}
					}
				});*/
			//setTimeout("alert('Спасибо! Ожидайте звонка!')", 1000);
			//setTimeout("$('#block_header').replaceWith(<br/>)",1000);
			setTimeout("$('#inline2').replaceWith('<p>Спасибо! Ожидайте звонка!</p>')",3000);
			setTimeout("$.fancybox.close()", 5000);
			}
		});
	});
</script>

<script type="text/javascript">
/*$(document).ready(function() {
	$(".modalbox").fancybox();
});*/
/*
$(document).ready(function() {
	$('.aaa').fancybox({

	});
});*/

	$('.button-newsletter').click(function() {
		$.fancybox ({
      'width': 200,
      'height': 50,
      'scrolling': 'no',
      'autoScale': true,/*
      'transitionIn': 'fade',
      'transitionOut': 'fade',*/
      'href': '#message',/*,
      'type': 'iframe',
      'onClosed': function() {
          window.location.href = "#";
     }*/
     	afterClose : function() {
      location.reload();
      return;
      }
		});
		setTimeout("$.fancybox.close()", 3000);
		return false;
	});

	$('.button-newsletter2').click(function() {
		/*$('#message p').append($("#subscriber2name").val().length);*/
		$.fancybox ({
      /*'width': 200,
      'height': 50,*/
      'scrolling': 'no',/*
      'autoScale': true,
      'transitionIn': 'fade',
      'transitionOut': 'fade',*/
      'href': '#message',/*,
      'type': 'iframe',
      'onClosed': function() {
          window.location.href = "#";
     }*/
     	afterClose : function() {
      location.reload();
      return;
      }
		});
		setTimeout("$.fancybox.close()", 3000);
		return false;
	});	
</script>
<!-- -->
</body>
</html>
